@import "./style/inputSlider.css";
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url("/GeistVF.woff2") format('woff2');
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/GeistMonoVF.woff2") format('woff2');
  }
}


*,
*:before,
*:after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #0C111D;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root {
  overflow-y: hidden;
}

h1, .h1 {
  font-size: 40px;
  line-height: 48px;
}
h2, .h2 {
  font-size: 36px;
  line-height: 44px;
}
h3, .h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 32px;
}
h5 {
  font-size: 20px;
  line-height: 28px;
}

:root {
  /* font-family: "Geist", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="checkbox"] {
  accent-color: #ACFF73;
}

/* Tweet embedment styling */
.react-tweet-theme._root_98iqw_1 ._article_98iqw_21 p._root_1xq52_1 {
  font-size: 14px;
  line-height: 20px;
}
.react-tweet-theme._root_98iqw_1 ._follow_nqq4j_74 {
  font-size: 14px;
}
.react-tweet-theme._root_98iqw_1 ._username_nqq4j_69 {
  font-size: 14px;
}

.contribution-gradient {
  background: linear-gradient(90deg, #F4FFEC 0%, #ACFF73 8%, rgba(172, 255, 115, 0.25) 29.5%, rgba(172, 255, 115, 0.00) 100%);
}

/* Tailwind classes */
.header-shadow {
  @apply shadow-md shadow-brand-primary
}
.data-room {
  @apply relative mt-10 flex w-full cursor-pointer items-center justify-between overflow-hidden rounded-lg border border-bd-secondary bg-secondary/50 from-brand-primary/10 via-black/0 via-30% px-4 py-3 transition-colors hover:border-brand-secondary/30 hover:bg-gradient-to-l
}

/* Date Picker */
.react-datepicker__calendar-icon {
  fill: gray;
  margin-top: 4px;
}
.react-datepicker__input-container {
  cursor: pointer !important;
}
.react-datepicker__month-container {
  height: 294px !important;
}