@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url("/GeistVF.woff2") format('woff2');
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/GeistMonoVF.woff2") format('woff2');
  }
}

*,
*:before,
*:after  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  background-color: #0C111D;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-size: 40px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 32px;
}
h5 {
  font-size: 20px;
  line-height: 28px;
}

:root {
  /* font-family: "Geist", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: none;
}

.progress-bar-start {
  clip-path: circle(100px at center);
}
.progress-bar-start {
  clip-path: circle(100px at center);
}
.secondary-profile-img {
  background-image: url("./src/assets/secondaryImgUrl.png");
}
.header-shadow {
  @apply shadow-md shadow-brand-primary
}

